.green-header {
  background-color: green !important;
}

.green-content {
  background-color: green !important;
}

.blue-header {
  background-color: green !important;
}

.blue-content {
  background-color: green !important;
}